// ==============================
// Override Variables
// ==============================

@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;700&display=swap&subset=latin-ext');
$code-font-family: JetBrains Mono, Source Code Pro, Menlo, Consolas, Monaco, monospace;

$global-link-hover-color: #00A676;
$global-link-hover-color-dark: #00A676;

$single-link-color: #00A676;
$single-link-color-dark: #00A676;

$blockquote-color: #22ff11;
$blockquote-color-dark: #00A676;