// ==============================
// Override Variables
// ==============================

@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;700&display=swap&subset=latin-ext');
$code-font-family: JetBrains Mono, Fira Code, Source Code Pro, Menlo, Consolas, Monaco, monospace;

$global-link-hover-color: #ef3982;
$global-link-hover-color-dark: #ef3982;

$single-link-color: #2d96bd;
$single-link-color-dark: #55bde2;

$blockquote-color: #6bd6fd;
$blockquote-color-dark: #59c5ec;